<%= form_for(@coaching) do |f| %>
  <% if @coaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coaching.errors.count, "error") %> prohibited this coaching from being saved:</h2>

      <ul>
      <% @coaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :online %><br />
    <%= f.check_box :online %>
  </div>

  <div class="field">
    <%= f.label :price %>, grn.<br />
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.select( :category_id, Category.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select town') %></li>
  </div>
  <div class="actions">
    <%= link_to 'Add new category', new_category_path %>
  </div>

  <div class="field">
    <%= f.label :town_id %><br />
    <%= f.select :town_id, Town.find(:all).collect {|u| [u.name, u.id]}, {}, :promt => 'Select town', multiple: true, class: "select2" %></li>
  </div>
  <div class="actions">
    <%= link_to 'Add new town', new_town_path %>
  </div>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.select( :company_id, Company.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select company') %></li>
  </div>
  <div class="actions">
    <%= link_to 'Add new company', new_company_path %>
  </div>

  <div class="field">
    <%= f.label :coach_id %><br />
    <%= f.select :coach_id, Coach.find(:all).collect {|u| [u.name, u.id]}, {}, :promt => 'Select coach', multiple: true, class: "select2" %></li>
  </div>
  <div class="actions">
    <%= link_to 'Add new coach', new_coach_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
