<h1>Listing trainings</h1>

<%= search_form_for @search, url: search_coachings_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
    <% end %>
    <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
    <div class="field">
        Sort:
        <%= f.sort_fields do |s| %>
            <%= s.sort_select %>
        <% end %>
    </div>
    <div class="actions"> 
        <%= f.submit "Search" %>
    </div>

<% end %>

<table>
  <tr>
    <th><%= sort_link @search, :name, "Name of training" %></th>
    <th><%= sort_link @search, :date, "Date" %></th>
    <th><%= sort_link @search, :online, "Online" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>
    <th><%= sort_link @search, :category_id, "Category" %></th>
    <th><%= sort_link @search, :town_id, "Town" %></th>
    <th><%= sort_link @search, :company_id, "Company" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coachings.each do |coaching| %>
  <tr>
    <td><%= coaching.name %></td>
    <td><%= coaching.date %></td>
    <td><%= coaching.online %></td>
    <td><%= coaching.price %></td>
    <td><%= coaching.category.name %></td>
    <td><%= coaching.town_id %></td>
    <td><%= coaching.company.name %></td>
    <td><%= link_to 'Show', coaching %></td>
    <td><%= link_to 'Edit', edit_coaching_path(coaching) %></td>
    <td><%= link_to 'Destroy', coaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Training', new_coaching_path %>
