<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @coaching.name %>
</p>

<p>
  <b>Date:</b>
  <%= @coaching.date %>
</p>

<p>
  <b>Online:</b>
  <%= @coaching.online %>
</p>

<p>
  <b>Price:</b>
  <%= @coaching.price %>
</p>

<p>
  <b>Category:</b>
  <%= @coaching.category_id %>
</p>

<p>
  <b>Town:</b>
  <%= @coaching.towns %>
</p>


<p>
  <b>Company:</b>
  <%= @coaching.company_id %>
</p>


<%= link_to 'Edit', edit_coaching_path(@coaching) %> |
<%= link_to 'Back', coachings_path %>
