<%= form_for(@commenttonews) do |f| %>
  <% if @commenttonews.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commenttonews.errors.count, "error") %> prohibited this commenttonews from being saved:</h2>

      <ul>
      <% @commenttonews.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :coach_id %><br />
    <%= f.select( :coach_id, Coach.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select coach') %></li>
  </div>
  <div class="field">
    <%= f.label :news_id %><br />
    <%= f.select( :news_id, Coach.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select news') %></li>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
