<h1>Listing commenttonews</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>Coach</th>
    <th>News</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commenttonews.each do |commenttonews| %>
  <tr>
    <td><%= commenttonews.comment %></td>
    <td><%= commenttonews.coach_id %></td>
    <td><%= commenttonews.news_id %></td>
    <td><%= link_to 'Show', commenttonews %></td>
    <td><%= link_to 'Edit', edit_commenttonews_path(commenttonews) %></td>
    <td><%= link_to 'Destroy', commenttonews, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commenttonews', new_commenttonews_path %>
