<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @commenttonews.comment %>
</p>

<p>
  <b>Coach:</b>
  <%= @commenttonews.coach_id %>
</p>

<p>
  <b>News:</b>
  <%= @commenttonews.news_id %>
</p>


<%= link_to 'Edit', edit_commenttonews_path(@commenttonews) %> |
<%= link_to 'Back', commenttonews_index_path %>
