<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.select( :company_id, Company.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select company') %></li>
  </div>
  <div class="field">
    <%= f.label :coach_id %><br />
    <%= f.select( :coach_id, Coach.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select coach') %></li>
  </div>
  <div class="field">
    <%= f.label :detail_information %><br />
    <%= f.text_area :detail_information, size: "120x15" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
