<h1>Listing news</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Coach</th>
    <th>Detail information</th>
    <th>Time of creation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news.each do |news| %>
  <tr>
    <td><%= news.name %></td>
    <td><%= news.company_id %></td>
    <td><%= news.coach_id %></td>
    <td><%= news.detail_information %></td>
    <td><%= news.created_at %></td>    
    <td><%= link_to 'Show', news %></td>
    <td><%= link_to 'Edit', edit_news_path(news) %></td>
    <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News', new_news_path %>
