<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @news.name %>
</p>

<p>
  <b>Company:</b>
  <%= @news.company_id %>
</p>

<p>
  <b>Coach:</b>
  <%= @news.coach_id %>
</p>

<p>
  <b>Detail information:</b>
  <%= @news.detail_information %>
</p>

<p>
  <b>Time of creation:</b>
  <%= @news.created_at %>
</p>

<%= link_to 'Add comment to this News', new_commenttonews_path %>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
