<%= form_for(@companies_client) do |f| %>
  <% if @companies_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companies_client.errors.count, "error") %> prohibited this companies_client from being saved:</h2>

      <ul>
      <% @companies_client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
