<h1>Listing companies_clients</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies_clients.each do |companies_client| %>
  <tr>
    <td><%= companies_client.company_id %></td>
    <td><%= companies_client.client_id %></td>
    <td><%= link_to 'Show', companies_client %></td>
    <td><%= link_to 'Edit', edit_companies_client_path(companies_client) %></td>
    <td><%= link_to 'Destroy', companies_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Companies client', new_companies_client_path %>
