<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @companies_client.company_id %>
</p>

<p>
  <b>Client:</b>
  <%= @companies_client.client_id %>
</p>


<%= link_to 'Edit', edit_companies_client_path(@companies_client) %> |
<%= link_to 'Back', companies_clients_path %>
