<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.telephone_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :site %><br />
    <%= f.url_field :site %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br />
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :detail_information %><br />
    <%= f.text_area :detail_information, size: "60x12" %>
  </div>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.select :client_id, Client.find(:all).collect {|u| [u.name, u.id]}, {}, :promt => 'Select Client', multiple: true, class: "select2" %></li>
  </div>

  <div class="actions">
    <%= link_to 'Add new client', new_client_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

 

<% end %>
