<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Site</th>
    <th>Address</th>
    <th>Contact person</th>
    <th>Detail information</th>
    <th>Client</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.telephone %></td>
    <td><%= company.email %></td>
    <td><%= company.site %></td>
    <td><%= company.address %></td>
    <td><%= company.contact_person %></td>
    <td><%= company.detail_information %></td>
    <td><%= company.client_id %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Company', new_company_path %><br />

