<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @company.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Site:</b>
  <%= @company.site %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Contact person:</b>
  <%= @company.contact_person %>
</p>

<p>
  <b>Detail information:</b>
  <%= @company.detail_information %>
</p>


<p>
  <b>Client:</b>
  <%= @company.clients.each do |cl| %>
  <%= cl.name %>
  <% end %>
</p>


<table>
  <tr>
    <th>Trainers:</th>
    <th></th>
  </tr>
<% @company.coaches.each do |c| %>
  <tr>
    <td><%= c.name %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %> |


