<%= form_for(@coach) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.telephone_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :site %><br />
    <%= f.url_field :site %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.select( :company_id, Company.find(:all).collect {|u| [u.name, u.id]}, :promt => 'Select company') %></li>
  </div>
  <div class="field">
    <%= f.label :detail_information %><br />
    <%= f.text_area :detail_information, size: "60x12" %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
