<h1>Listing trainers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Site</th>
    <th>Company</th>
    <th>Detail information</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coaches.each do |coach| %>
  <tr>
    <td><%= coach.name %></td>
    <td><%= coach.telephone %></td>
    <td><%= coach.email %></td>
    <td><%= coach.site %></td>
    <td><%= coach.company.name %></td>
    <td><%= coach.detail_information %></td>
    <td><%= link_to 'Show', coach %></td>
    <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
    <td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



<%= link_to 'New Trainer', new_coach_path %>
