<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @coach.name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @coach.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @coach.email %>
</p>

<p>
  <b>Site:</b>
  <%= @coach.site %>
</p>

<p>
  <b>Company:</b>
  <%= @coach.company_id %>
</p>

<p>
  <b>Detail information:</b>
  <%= @coach.detail_information %>
</p>

<p>
  <b>Coaching:</b>
  <%= @coach.coaching_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @coach.comment %>
</p>

<p>
  <b>Article:</b>
  <%= @coach.article %>
</p>


<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
