/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require_tree .
 */

 body {
	margin-left: 180px;
	margin-right: 180px;
}

 #user_nav {

    margin-left: 80%;/* Положение элемента от левого края */

    width: 150px; /* Ширина блока */

    padding: 5px; /* Поля вокруг текста */

    border-radius: 5px;

    background-color:  rgb(3, 220, 0);

    cursor: pointer;

}

#menu {
	margin-top: 30px;
}

#menu td a:hover {
	background-color: #e2ecf4;
	color: #3b638f;
}

.separator {
	width: 100%;
	height: 20px;
	border-top: 5px solid #d6c6dd;
	margin-top: 0%;
}

#menu td a {
	background-color: #ececec;
	color: #a0a0a0;
	font-weight: bold;
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#menu tr {
	margin-bottom: 20px;
}

