<h1>Listing towns</h1>

<%= search_form_for @search do |f| %>
    <div class="field">
        <%= f.label :name_cont, "Name contains" %>
        <%= f.text_field :name_cont %>
    </div>
    <div class="actions"> 
        <%= f.submit "Search" %>
    </div>

<% end %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @towns.each do |town| %>
  <tr>
    <td><%= town.name %></td>
    <td><%= link_to 'Show', town %></td>
    <td><%= link_to 'Edit', edit_town_path(town) %></td>
    <td><%= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Town', new_town_path %>
