<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :town_id %><br />
    <%= f.number_field :town_id %>
  </div>
  <div class="field">
    <%= f.label :coaching_id %><br />
    <%= f.number_field :coaching_id %>
  </div>
  <div class="field">
    <%= f.label :plece_date %><br />
    <%= f.datetime_select :plece_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
