<h1>Listing places</h1>

<table>
  <tr>
    <th>Town</th>
    <th>Coaching</th>
    <th>Plece date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @places.each do |place| %>
  <tr>
    <td><%= place.town_id %></td>
    <td><%= place.coaching_id %></td>
    <td><%= place.plece_date %></td>
    <td><%= link_to 'Show', place %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>
