<p id="notice"><%= notice %></p>

<p>
  <b>Town:</b>
  <%= @place.town_id %>
</p>

<p>
  <b>Coaching:</b>
  <%= @place.coaching_id %>
</p>

<p>
  <b>Plece date:</b>
  <%= @place.plece_date %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
