<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
$(document).ready(function() {
$(".select2").select2({
placeholder: "Select a necessary element"
});
});
</script>
</head>
<body>

	<div id="user_nav">
  		<% if user_signed_in? %>
   			Signed in as <%= current_user.name %>. Not you?
   			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
 		<% else %>
  			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
		<% end %>
	</div>



<div id="menu">
  <table>
    <tr>
      <td class="active">
        <a href="http://localhost:3000/coachings">
          <span>Trainings</span>
        </a>
      </td>
      <td class="active">
        <a href="http://localhost:3000/coaches">
          <span>Trainers</span>
        </a>
      </td>
      <td class="active">
        <a href="http://localhost:3000/companies">
          <span>Companies</span>
        </a>
      </td>
      <td class="active">
        <a href="http://localhost:3000/news">
          <span>News</span>
        </a>
      </td>
    </tr>
  </table>
</div>
<div class="separator">
  
</div>
<%= yield %>

</body>
</html>
