<%= form_for(@coaches_coaching) do |f| %>
  <% if @coaches_coaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coaches_coaching.errors.count, "error") %> prohibited this coaches_coaching from being saved:</h2>

      <ul>
      <% @coaches_coaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coach_id %><br />
    <%= f.number_field :coach_id %>
  </div>
  <div class="field">
    <%= f.label :coaching_id %><br />
    <%= f.number_field :coaching_id %>
  </div>
  <div class="field">
    <%= f.label :plece_date %><br />
    <%= f.datetime_select :plece_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
