<h1>Listing coaches_coachings</h1>

<table>
  <tr>
    <th>Coach</th>
    <th>Coaching</th>
    <th>Plece date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coaches_coachings.each do |coaches_coaching| %>
  <tr>
    <td><%= coaches_coaching.coach_id %></td>
    <td><%= coaches_coaching.coaching_id %></td>
    <td><%= coaches_coaching.plece_date %></td>
    <td><%= link_to 'Show', coaches_coaching %></td>
    <td><%= link_to 'Edit', edit_coaches_coaching_path(coaches_coaching) %></td>
    <td><%= link_to 'Destroy', coaches_coaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coaches coaching', new_coaches_coaching_path %>
