<p id="notice"><%= notice %></p>

<p>
  <b>Coach:</b>
  <%= @coaches_coaching.coach_id %>
</p>

<p>
  <b>Coaching:</b>
  <%= @coaches_coaching.coaching_id %>
</p>

<p>
  <b>Plece date:</b>
  <%= @coaches_coaching.plece_date %>
</p>


<%= link_to 'Edit', edit_coaches_coaching_path(@coaches_coaching) %> |
<%= link_to 'Back', coaches_coachings_path %>
